
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Subidas último día: @ViewBag.LastDayUploads</p>
<p>Subidas último semana: @ViewBag.LastWeekUploads</p>
<p>Subidas último mes: @ViewBag.LastMonthUploads</p>